[color]
    ui = auto
[core]
    excludesfile = /Users/teferi/.gitignore_global
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --decorate=full --abbrev-commit --
    tef = log --pretty=tef --no-merges

    monday = log --pretty=tef --no-merges --since='last friday' --date=relative
    wakeup = log --pretty=tef --no-merges @{yesterday}..HEAD --date=relative
    upstream = log --pretty=tef --no-merges HEAD..@{u} --date=relative
    pp = !git fetch && git upstream && git rebase @{u}
    ppp = !git pp && git push

    ch = checkout
    co = commit
    st = status
    ss = show --stat

    switch = !legit switch \"$@\"
    branches = !legit branches
    sprout = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest = !legit harvest \"$@\"
    sync = !legit sync \"$@\"
    publish = !legit publish \"$@\"
    graft = !legit graft \"$@\"

[pretty]
    tef = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue(%an)%Cgreen(%cr)%Creset
[pull]
    rebase = true
[push]
    default = current
